<style>
	.feature_grid {
		--feature-color: #50c0af;
	}
</style>

<div class="feature_grid">

	<!-- Products -->
	<templates:card href="/admin/realestate/listings/" class="feature_card">
		<div class="feature_card__content">
			<p><a href="/admin/commerce/products/"><big><strong>Real Estate Listings</strong></big></a></p>
			<p>View and modify your online catalogue.</p>
		</div>
		<div class="feature_card__footer">
			<a target="_blank" href="https://www.oncord.com/resources/learning/tutorials/commerce/product-catalogue/">View Tutorials
				<standard:icon library="fontawesome" iconstyle="solid" iconname="right-long" size="4" style="width: 16px; height: 16px;" />
			</a>
		</div>
	</templates:card>
</div>